In [1]:
import pandas as pd

In [2]:
# read specific columns of csv file using Pandas 
col_Names=['University','Accepted']
df= pd.read_csv("all_i_400-600.csv",names=col_Names)
print(df)
print(df.size)

                                               University  \
0               Physics, San Francisco State University
1       Marriage And Family Therapy, San Francisco Sta...
2       Marriage And Family Therapy, San Francisco Sta...
3       Computer Science, University Of San Francisco ...
4       Marriage And Family Therapy, San Francisco Sta...
...                                                   ...
162640  Physics, University of Chicago  International ...
162641  I/O Psychology, Florida International Universi...
162642  International Affairs - Pacific, University Of...
162643  Computer Science, Stanford University  Has any...
162644  Speech Pathology, Old Dominion University  Has...

                                                 Accepted
0       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
1       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
2       ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
3       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
4       ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
...                                                   ...
162640  ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
162641  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
162642  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
162643          ['Other', '', 'International', 'PhD', '']
162644  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...

[162645 rows x 2 columns]
325290

In [3]:
list_of_acceptance=df['Accepted'].tolist()
for i in range(len(list_of_acceptance)):
    list_of_acceptance[i]=list_of_acceptance[i].replace("\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t","")
    list_of_acceptance[i]=list_of_acceptance[i].split(" ")[0][2:]
# print(list_of_acceptance)
df['result']=list_of_acceptance
print(df)

                                               University  \
0               Physics, San Francisco State University
1       Marriage And Family Therapy, San Francisco Sta...
2       Marriage And Family Therapy, San Francisco Sta...
3       Computer Science, University Of San Francisco ...
4       Marriage And Family Therapy, San Francisco Sta...
...                                                   ...
162640  Physics, University of Chicago  International ...
162641  I/O Psychology, Florida International Universi...
162642  International Affairs - Pacific, University Of...
162643  Computer Science, Stanford University  Has any...
162644  Speech Pathology, Old Dominion University  Has...

                                                 Accepted    result
0       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
1       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
2       ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Rejected
3       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
4       ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Rejected
...                                                   ...       ...
162640  ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Rejected
162641  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
162642  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
162643          ['Other', '', 'International', 'PhD', '']   Other',
162644  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted

[162645 rows x 3 columns]

In [4]:
list_of_scores=df['Accepted'].tolist()
# print(list_of_scores)
for i in range(len(list_of_scores)):
    list_of_scores[i]=list_of_scores[i].replace("\\n\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t\\t","")
    list_of_scores[i]=list_of_scores[i].split(" ")[1:]
        
df['scores']=list_of_scores
print(df)

                                               University  \
0               Physics, San Francisco State University
1       Marriage And Family Therapy, San Francisco Sta...
2       Marriage And Family Therapy, San Francisco Sta...
3       Computer Science, University Of San Francisco ...
4       Marriage And Family Therapy, San Francisco Sta...
...                                                   ...
162640  Physics, University of Chicago  International ...
162641  I/O Psychology, Florida International Universi...
162642  International Affairs - Pacific, University Of...
162643  Computer Science, Stanford University  Has any...
162644  Speech Pathology, Old Dominion University  Has...

                                                 Accepted    result  \
0       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
1       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
2       ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Rejected
3       ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
4       ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Rejected
...                                                   ...       ...
162640  ['Rejected\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Rejected
162641  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
162642  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted
162643          ['Other', '', 'International', 'PhD', '']   Other',
162644  ['Accepted\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...  Accepted

                                                   scores
0         [on, 27, Mar',, 'Fall, 2023',, 'Masters',, '']]
1          [on, 4, Apr',, 'Fall, 2023',, 'Masters',, '']]
2       [on, 10, Apr',, 'Fall, 2023',, 'GPA, 3.30',, '...
3       [on, 10, Apr',, 'Fall, 2023',, 'GRE, 166',, 'G...
4       [on, 10, Apr',, 'Fall, 2023',, 'GPA, 3.70',, '...
...                                                   ...
162640                       [on, 20, Feb',, 'PhD',, '']]
162641                               [on, 17, Feb',, '']]
162642                   [on, 28, Jan',, 'Masters',, '']]
162643               ['',, 'International',, 'PhD',, '']]
162644  [on, 20, Mar',, '',, 'American',, 'Masters',, ...

[162645 rows x 4 columns]

In [5]:
final_scores=[]
for details in list_of_scores:
    scores=[]
    if(len(details)!=0):
        if(details[0]=='on'):
                scores+=details[3:]
                final_scores.append(scores)
        else:
            scores+=details
            final_scores.append(scores)
    else:
        scores+=details
        final_scores.append(scores)

In [6]:
# print(scores)
df['details']=final_scores   
df=df.drop(['scores'], axis=1)
df=df.drop(['Accepted'], axis=1)
df = df[df.result != 'Rejected']
df = df[df.result != 'Interview\',']
df = df[df.result != 'Wait']
df = df[df.result != 'Other\',']

print(df)

                                               University    result  \
0               Physics, San Francisco State University    Accepted
1       Marriage And Family Therapy, San Francisco Sta...  Accepted
3       Computer Science, University Of San Francisco ...  Accepted
10                                                    NaN
11      Clinical Mental Health Counseling, San Francis...  Accepted
...                                                   ...       ...
162638  Economics, Harvard University  GRE 800Q/800V, ...  Accepted
162639  Lifespan Developmental Science, Florida Intern...  Accepted
162641  I/O Psychology, Florida International Universi...  Accepted
162642  International Affairs - Pacific, University Of...  Accepted
162644  Speech Pathology, Old Dominion University  Has...  Accepted

                                                  details
0                        ['Fall, 2023',, 'Masters',, '']]
1                        ['Fall, 2023',, 'Masters',, '']]
3       ['Fall, 2023',, 'GRE, 166',, 'GRE, V, 157',, '...
10                                                     []
11         ['Fall, 2023',, 'GPA, 4.00',, 'Masters',, '']]
...                                                   ...
162638                    ['International',, 'PhD',, '']]
162639                         ['American',, 'PhD',, '']]
162641                                              ['']]
162642                                  ['Masters',, '']]
162644                ['',, 'American',, 'Masters',, '']]

[79240 rows x 3 columns]

In [7]:
scores_list=df['details'].tolist()
scores_list[:5]

[["'Fall", "2023',", "'Masters',", "'']"],
 ["'Fall", "2023',", "'Masters',", "'']"],
 ["'Fall",
  "2023',",
  "'GRE",
  "166',",
  "'GRE",
  'V',
  "157',",
  "'GRE",
  'AW',
  "5.00',",
  "'GPA",
  "3.90',",
  "'Masters',",
  "'']"],
 [],
 ["'Fall", "2023',", "'GPA", "4.00',", "'Masters',", "'']"]]

In [8]:
term=[]
details=df['details'].tolist()
for i in range(len(scores_list)):
    # print(len(scores_list[i]))
    if len(scores_list[i])>=2:
#         print(scores_list[i][0]+" "+scores_list[i][1])
        if(scores_list[i][0]=='\'Fall' or scores_list[i][0]=='\'Spring'):
            term.append(scores_list[i][0]+" "+scores_list[i][1])
#             print(scores_list[i][0]+" "+scores_list[i][1])
        elif(scores_list[i][1]=='\'Fall' or scores_list[i][1]=='\'Spring'):
            term.append(scores_list[i][1]+" "+scores_list[i][2])
#             print(scores_list[i][1]+" "+scores_list[i][2])
        else:
            term.append(None)
            
    else:
        term.append(None)
df['term']=term
df

,University,result,details,term
0,"Physics, San Francisco State University",Accepted,"['Fall, 2023',, 'Masters',, '']]","'Fall 2023',"
1,"Marriage And Family Therapy, San Francisco Sta...",Accepted,"['Fall, 2023',, 'Masters',, '']]","'Fall 2023',"
3,"Computer Science, University Of San Francisco ...",Accepted,"['Fall, 2023',, 'GRE, 166',, 'GRE, V, 157',, '...","'Fall 2023',"
10,NaN,,[],None
11,"Clinical Mental Health Counseling, San Francis...",Accepted,"['Fall, 2023',, 'GPA, 4.00',, 'Masters',, '']]","'Fall 2023',"
...,...,...,...,...
162638,"Economics, Harvard University GRE 800Q/800V, ...",Accepted,"['International',, 'PhD',, '']]",None
162639,"Lifespan Developmental Science, Florida Intern...",Accepted,"['American',, 'PhD',, '']]",None
162641,"I/O Psychology, Florida International Universi...",Accepted,['']],None
162642,"International Affairs - Pacific, University Of...",Accepted,"['Masters',, '']]",None
162644,"Speech Pathology, Old Dominion University Has...",Accepted,"['',, 'American',, 'Masters',, '']]",None

In [9]:
details=df['details'].tolist()

In [10]:
columns_required=set()
for i in range(len(details)):
    for j in range(len(details[i])):
        # print(details[i][j])
        details[i][j] = details[i][j].replace("'","")
        details[i][j] = details[i][j].replace(",","")
        # print(details[i][j])
        if details[i][j].isalpha():
            columns_required.add(details[i][j])

columns_required

{'AW',
 'American',
 'EdD',
 'Fall',
 'GPA',
 'GRE',
 'IND',
 'International',
 'JD',
 'MBA',
 'MFA',
 'Masters',
 'Other',
 'PHD',
 'PhD',
 'Phd',
 'PsyD',
 'Spring',
 'V',
 'phd'}

In [11]:
columns_required=list(columns_required)

In [12]:
gre_verbal=[]
gre_quant=[]
gre_awa=[]
gpa=[]
others=[]
for i in range(len(details)):
    flag_gre=0
    flag_aw=0
    flag_v=0
    scores=[]
    a,b,c=0,0,0 
    flag_gpa=0
    flag_others=0
    for j in range(len(details[i])):
        if details[i][j]=='GRE':
#             flag_gre=1
            if details[i][j+1]!='V' and details[i][j+1]!='AW':
                gre_quant.append(details[i][j+1])
                a=1
        if details[i][j]=='V':
            gre_verbal.append(details[i][j+1])
            flag_v=1
        if details[i][j]=='AW':
                gre_awa.append(details[i][j+1])
                flag_aw=1
        if details[i][j]=='GPA':
            flag_gpa=1
            gpa.append(details[i][j+1])
        if details[i][j]=="Masters" or details[i][j]=="PhD" or details[i][j]=="Other":
            if flag_others==0:
                others.append(details[i][j])
                flag_others=1
    if a==0:
        gre_quant.append(None)
#         if b==0:
#             gre_verbal.append("NULL")
        # if c==0:
            # gre_awa.append("NULL")
    if flag_aw==0:
        gre_awa.append(None)
    if flag_v==0:
        gre_verbal.append(None)
    if flag_gpa==0:
        gpa.append(None)
    if flag_others==0:
        others.append(None)

In [13]:
len(details),len(gre_awa),len(gre_quant),len(gre_verbal),len(gpa),len(others)

(79240, 79240, 79240, 79240, 79240, 79240)

In [14]:
len(details),len(gre_awa),len(gre_quant),len(gre_verbal),len(gpa),len(others)


df['GRE_AWA']=gre_awa
df['GRE_QUANT']=gre_quant
df['GRE_VERBAL']=gre_verbal
df['GPA']=gpa
df['Degree']=others
df

,University,result,details,term,GRE_AWA,GRE_QUANT,GRE_VERBAL,GPA,Degree
0,"Physics, San Francisco State University",Accepted,"[Fall, 2023, Masters, ]]","'Fall 2023',",None,None,None,None,Masters
1,"Marriage And Family Therapy, San Francisco Sta...",Accepted,"[Fall, 2023, Masters, ]]","'Fall 2023',",None,None,None,None,Masters
3,"Computer Science, University Of San Francisco ...",Accepted,"[Fall, 2023, GRE, 166, GRE, V, 157, GRE, AW, 5...","'Fall 2023',",5.00,166,157,3.90,Masters
10,NaN,,[],None,None,None,None,None,None
11,"Clinical Mental Health Counseling, San Francis...",Accepted,"[Fall, 2023, GPA, 4.00, Masters, ]]","'Fall 2023',",None,None,None,4.00,Masters
...,...,...,...,...,...,...,...,...,...
162638,"Economics, Harvard University GRE 800Q/800V, ...",Accepted,"[International, PhD, ]]",None,None,None,None,None,PhD
162639,"Lifespan Developmental Science, Florida Intern...",Accepted,"[American, PhD, ]]",None,None,None,None,None,PhD
162641,"I/O Psychology, Florida International Universi...",Accepted,[]],None,None,None,None,None,None
162642,"International Affairs - Pacific, University Of...",Accepted,"[Masters, ]]",None,None,None,None,None,Masters
162644,"Speech Pathology, Old Dominion University Has...",Accepted,"[, American, Masters, ]]",None,None,None,None,None,Masters

In [15]:
columns_to_check = ['GRE_AWA', 'GRE_QUANT','GRE_VERBAL','GPA']

# Replace "null" with None in the specified columns
# df[columns_to_check] = df[columns_to_check].applymap(lambda x: None if x == "NULL" else x)

# Remove rows where any of the specified columns contain None
# df = df.dropna(subset=columns_to_check, how='all')

df

,University,result,details,term,GRE_AWA,GRE_QUANT,GRE_VERBAL,GPA,Degree
0,"Physics, San Francisco State University",Accepted,"[Fall, 2023, Masters, ]]","'Fall 2023',",None,None,None,None,Masters
1,"Marriage And Family Therapy, San Francisco Sta...",Accepted,"[Fall, 2023, Masters, ]]","'Fall 2023',",None,None,None,None,Masters
3,"Computer Science, University Of San Francisco ...",Accepted,"[Fall, 2023, GRE, 166, GRE, V, 157, GRE, AW, 5...","'Fall 2023',",5.00,166,157,3.90,Masters
10,NaN,,[],None,None,None,None,None,None
11,"Clinical Mental Health Counseling, San Francis...",Accepted,"[Fall, 2023, GPA, 4.00, Masters, ]]","'Fall 2023',",None,None,None,4.00,Masters
...,...,...,...,...,...,...,...,...,...
162638,"Economics, Harvard University GRE 800Q/800V, ...",Accepted,"[International, PhD, ]]",None,None,None,None,None,PhD
162639,"Lifespan Developmental Science, Florida Intern...",Accepted,"[American, PhD, ]]",None,None,None,None,None,PhD
162641,"I/O Psychology, Florida International Universi...",Accepted,[]],None,None,None,None,None,None
162642,"International Affairs - Pacific, University Of...",Accepted,"[Masters, ]]",None,None,None,None,None,Masters
162644,"Speech Pathology, Old Dominion University Has...",Accepted,"[, American, Masters, ]]",None,None,None,None,None,Masters

In [19]:
df = df.dropna(subset=['Degree'])

print("DataFrame after dropping rows with NULL values in the 'Degree' column:")
df

DataFrame after dropping rows with NULL values in the 'Degree' column:

,University,result,details,term,GRE_AWA,GRE_QUANT,GRE_VERBAL,GPA,Degree
0,"Physics, San Francisco State University",Accepted,"[Fall, 2023, Masters, ]]","'Fall 2023',",None,None,None,None,Masters
1,"Marriage And Family Therapy, San Francisco Sta...",Accepted,"[Fall, 2023, Masters, ]]","'Fall 2023',",None,None,None,None,Masters
3,"Computer Science, University Of San Francisco ...",Accepted,"[Fall, 2023, GRE, 166, GRE, V, 157, GRE, AW, 5...","'Fall 2023',",5.00,166,157,3.90,Masters
11,"Clinical Mental Health Counseling, San Francis...",Accepted,"[Fall, 2023, GPA, 4.00, Masters, ]]","'Fall 2023',",None,None,None,4.00,Masters
13,"Speech Language Pathology, San Francisco State...",Accepted,"[Fall, 2023, Masters, ]]","'Fall 2023',",None,None,None,None,Masters
...,...,...,...,...,...,...,...,...,...
162633,"International Relations, Yale University",Accepted,"[American, Masters, ]]",None,None,None,None,None,Masters
162638,"Economics, Harvard University GRE 800Q/800V, ...",Accepted,"[International, PhD, ]]",None,None,None,None,None,PhD
162639,"Lifespan Developmental Science, Florida Intern...",Accepted,"[American, PhD, ]]",None,None,None,None,None,PhD
162642,"International Affairs - Pacific, University Of...",Accepted,"[Masters, ]]",None,None,None,None,None,Masters
162644,"Speech Pathology, Old Dominion University Has...",Accepted,"[, American, Masters, ]]",None,None,None,None,None,Masters

In [16]:
df['details'] = df['details'].apply(tuple)
df

,University,result,details,term,GRE_AWA,GRE_QUANT,GRE_VERBAL,GPA,Degree
0,"Physics, San Francisco State University",Accepted,"(Fall, 2023, Masters, ])","'Fall 2023',",None,None,None,None,Masters
1,"Marriage And Family Therapy, San Francisco Sta...",Accepted,"(Fall, 2023, Masters, ])","'Fall 2023',",None,None,None,None,Masters
3,"Computer Science, University Of San Francisco ...",Accepted,"(Fall, 2023, GRE, 166, GRE, V, 157, GRE, AW, 5...","'Fall 2023',",5.00,166,157,3.90,Masters
10,NaN,,(),None,None,None,None,None,None
11,"Clinical Mental Health Counseling, San Francis...",Accepted,"(Fall, 2023, GPA, 4.00, Masters, ])","'Fall 2023',",None,None,None,4.00,Masters
...,...,...,...,...,...,...,...,...,...
162638,"Economics, Harvard University GRE 800Q/800V, ...",Accepted,"(International, PhD, ])",None,None,None,None,None,PhD
162639,"Lifespan Developmental Science, Florida Intern...",Accepted,"(American, PhD, ])",None,None,None,None,None,PhD
162641,"I/O Psychology, Florida International Universi...",Accepted,"(],)",None,None,None,None,None,None
162642,"International Affairs - Pacific, University Of...",Accepted,"(Masters, ])",None,None,None,None,None,Masters
162644,"Speech Pathology, Old Dominion University Has...",Accepted,"(, American, Masters, ])",None,None,None,None,None,Masters

In [22]:
df= df.drop_duplicates(subset=['GRE_AWA','GRE_QUANT','GRE_VERBAL'])
df

,University,result,details,term,GRE_AWA,GRE_QUANT,GRE_VERBAL,GPA,Degree
0,"Physics, San Francisco State University",Accepted,"(Fall, 2023, Masters, ])","'Fall 2023',",None,None,None,None,Masters
3,"Computer Science, University Of San Francisco ...",Accepted,"(Fall, 2023, GRE, 166, GRE, V, 157, GRE, AW, 5...","'Fall 2023',",5.00,166,157,3.90,Masters
45,"Biomedical Sciences, University Of California,...",Accepted,"(Fall, 2023, American, GRE, 165, GRE, V, 168, ...","'Fall 2023',",5.50,165,168,3.35,PhD
68,"Data Science, University Of San Francisco",Accepted,"(Fall, 2023, American, GRE, 168, GRE, V, 161, ...","'Fall 2023',",4.00,168,161,3.84,Masters
151,"Computer Science, San Francisco State Universi...",Accepted,"(Fall, 2022, International, GRE, 159, GRE, V, ...","'Fall 2022',",4.00,159,159,3.67,Masters
...,...,...,...,...,...,...,...,...,...
161892,"International Studies, University Of Denver Jo...",Accepted,"(, American, GRE, 720, GRE, V, 560, GRE, AW, 5...",None,5.00,720,560,None,Masters
161938,Comparative And International Development Educ...,Accepted,"(, American, GRE, 640, GRE, V, 640, GRE, AW, 4...",None,4.50,640,640,3.30,PhD
161940,"Microbiology And Molecular Genetics, Duke Univ...",Accepted,"(, International, GRE, 670, GRE, V, 800, GRE, ...",None,3.00,670,800,3.86,PhD
161949,"MA International Economics & Finance, Brandeis...",Accepted,"(, International, GRE, 710, GRE, V, 770, GPA, ...",None,None,710,770,3.90,Masters
161957,"International Public Policy, University Colleg...",Accepted,"(, American, GRE, 710, GRE, V, 510, GPA, 3.60,...",None,None,710,510,3.60,Masters

In [23]:
df.to_csv("Segregated_data_400-600.csv")